<div>
  <label for="{{id}}">{{label}}</label>
  <input 
    type="{{type}}" 
    id="{{id}}"
    name="{{id}}"
    value="{{value}}"
    class=""
  >
  {{#if error}}
    <span>{{error}}</span>
  {{/if}}
</div>
