<div>
  <label for="{{id}}">{{label}}</label>
  <textarea 
    id="{{id}}"
    name="{{id}}"
    class=""
    rows="5"
  >{{value}}</textarea>
  {{#if error}}
    <span>{{error}}</span>
  {{/if}}
</div>
