<main>
  <h2>Members Only</h2>
  <section>
    {{#each posts}}
      <div>
        <p>{{this.post}}</p>
        <p>
          <span>by</span>
          {{#if currentUser}}
            <em>{{this.user}}</em>
          {{else}}
            <em>Login to See</em>
          {{/if}}
          <span> on </span>
          {{#if this.modified}}
            <em>{{this.time}}*</em>
          {{else}}
            <em>{{this.time}}</em>
          {{/if}}
        </p>
      </div>
    {{/each}}
  </section>
</main>
