<main>
  <h2>Post Deletion</h2>
  <section>
    <article>
      <p>{{post}}</p>
      {{#if modified}}
        <span>by <em>{{user}}</em> on <em>{{time}}*</em></span>
      {{else}}
        <span>by <em>{{user}}</em> on <em>{{time}}</em></span>
      {{/if}}
    </article>
    <p>Confirm Deletion of post</p>
    <form action="" method="POST" novalidate>
      <input type="hidden" name="postId" value="{{_id}}" required="true">
      <button type="submit">Delete</button>
    </form>
    <a href="/">Cancel</a>
  </section>
</main>
